@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh; 
}
.ql-editor{
    font-size: 1.05rem; 
    
}

.ql-video{
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 16 / 9; /* Maintains 16:9 ratio */
    max-width: 800px; /* Optional: keeps it from getting too large */
}

.post-content p{
    margin-bottom: 0.5rem; 
}

.post-content h1{
    font-size: 1.5rem; 
    font-weight: 600; 
    font-family: sans-serif; 
    margin: 1.5rem 0; 
}

.post-content h2 {
    font-size: 1.4rem; 
    font-family: sans-serif; 
    margin: 1.5rem 0; 
}

.post-content a{
    /* //rgb: red green blue */
    color: rgb(73, 149, 199); 
    text-decoration: none; 
}

.post-content a:hover {
    text-decoration: underline; 
}

/* .dark .post-content a {
    color: red; 
} */
.dark .post-content a {
    color: greenyellow
}

.bg-hcorp1 {
    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(249, 250, 255, 1) 100%);
}

/* Increase the space between individual <p> elements */
.paragraph-spacing p {
  margin-bottom: 1.5em; /* Adjust this value as needed */
}

/* Increase the line height (interline space) within a single <p> element */
.line-height-increase {
  line-height: 2.0; /* A unitless multiplier works well; 1.5 is standard, 2.0 is double spacing */
}

/* Change "Enter Video URL" placeholder */
.ql-snow .ql-tooltip.ql-editing[data-mode="video"]::before {
  content: "Insérer une vidéo (URL):" !important; /* Your language here */
}

/* Change "Save" button text */
.ql-snow .ql-tooltip .ql-action::after {
  content: " Enregistrer" !important;
}

